### Load and import

In [1]:
import numpy as np
import pandas as pd
from janitor import clean_names
%config IPCompleter.greedy=True

In [2]:
df = pd.read_csv('../../02_Data/03_Work/work.csv',parse_dates=['date'],index_col='date')

In [3]:
df.head()

,state_id,store_id,dept_id,cat_id,item_id,wm_yr_wk,d,sales,sell_price,year,month,wday,weekday,event_name_1,event_type_1,event_name_2,event_type_2
date,,,,,,,,,,,,,,,,,
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_090,11249,d_704,0,1.25,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_120,11249,d_704,0,4.98,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_202,11249,d_704,20,4.28,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_252,11249,d_704,34,1.48,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_288,11249,d_704,0,NaN,2013,1,4,Tuesday,NewYear,National,NaN,NaN

### Identify

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21280 entries, 2013-01-01 to 2015-11-30
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state_id      21280 non-null  object
 1   store_id      21280 non-null  object
 2   dept_id       21280 non-null  object
 3   cat_id        21280 non-null  object
 4   item_id       21280 non-null  object
 5   wm_yr_wk      21280 non-null  int64
 6   d             21280 non-null  object
 7   sales         21280 non-null  int64
 8   sell_price    21209 non-null  float64
 9   year          21280 non-null  int64
 10  month         21280 non-null  int64
 11  wday          21280 non-null  int64
 12  weekday       21280 non-null  object
 13  event_name_1  1700 non-null   object
 14  event_type_1  1700 non-null   object
 15  event_name_2  60 non-null     object
 16  event_type_2  60 non-null     object
dtypes: float64(1), int64(5), object(11)
memory usage: 2.9+ MB

In [5]:
df.dtypes

state_id         object
store_id         object
dept_id          object
cat_id           object
item_id          object
wm_yr_wk          int64
d                object
sales             int64
sell_price      float64
year              int64
month             int64
wday              int64
weekday          object
event_name_1     object
event_type_1     object
event_name_2     object
event_type_2     object
dtype: object

In [6]:
df = df.astype({'year':'object',
               'month': 'O',
               'wday': 'O'})

df.dtypes

state_id         object
store_id         object
dept_id          object
cat_id           object
item_id          object
wm_yr_wk          int64
d                object
sales             int64
sell_price      float64
year             object
month            object
wday             object
weekday          object
event_name_1     object
event_type_1     object
event_name_2     object
event_type_2     object
dtype: object

### Unique values

In [7]:
df.nunique().sort_values()

state_id           1
dept_id            1
cat_id             1
store_id           2
event_type_2       2
event_name_2       3
year               3
event_type_1       4
weekday            7
wday               7
item_id           10
month             12
sell_price        23
event_name_1      30
wm_yr_wk         153
sales            301
d               1064
dtype: int64

In [8]:
df = df.drop_constant_columns()

### Duplicates

In [9]:
df.duplicated().sum()

0

### Separate categoric/numeric

In [10]:
cat= df.select_dtypes(exclude = 'number').copy()
num = df.select_dtypes(include = 'number').copy()

### Manage categoric

#### Nulls

In [11]:
cat.isna().sum().sort_values(ascending = False)

event_name_2    21220
event_type_2    21220
event_name_1    19580
event_type_1    19580
d                   0
store_id            0
item_id             0
weekday             0
wday                0
month               0
year                0
dtype: int64

In [12]:
cat.event_name_1.value_counts(dropna= False)

event_name_1
NaN                    19580
NewYear                   60
OrthodoxChristmas         60
MartinLutherKingDay       60
SuperBowl                 60
LentStart                 60
ValentinesDay             60
PresidentsDay             60
LentWeek2                 60
Purim End                 60
StPatricksDay             60
Easter                    60
Pesach End                60
Mother's day              60
MemorialDay               60
Thanksgiving              60
NBAFinalsStart            60
NBAFinalsEnd              60
IndependenceDay           60
Eid al-Fitr               60
Ramadan starts            60
LaborDay                  60
ColumbusDay               60
Halloween                 60
EidAlAdha                 60
VeteransDay               60
OrthodoxEaster            40
Father's day              40
Chanukah End              40
Christmas                 40
Cinco De Mayo             40
Name: count, dtype: int64

In [13]:
# nulls are not lost data, but real information (the day is just a normal day)

In [14]:
cat.event_name_2.value_counts(dropna= False)

event_name_2
NaN               21220
Cinco De Mayo        20
OrthodoxEaster       20
Father's day         20
Name: count, dtype: int64

In [15]:
cat.event_type_1.value_counts(dropna= False)

event_type_1
NaN          19580
National       580
Religious      560
Cultural       380
Sporting       180
Name: count, dtype: int64

In [16]:
cat.event_type_2.value_counts(dropna= False)

event_type_2
NaN          21220
Cultural        40
Religious       20
Name: count, dtype: int64

In [17]:
# let's see how event names relate

pd.crosstab(index = cat.event_name_1, columns = cat.event_name_2)

event_name_2    Cinco De Mayo  Father's day  OrthodoxEaster
event_name_1
Easter                      0             0              20
NBAFinalsEnd                0            20               0
OrthodoxEaster             20             0               0

In [18]:
#event_name_2 have repeated events included in event_name_1
# also they don't match
# event_2 seems less reliable, so we are going to drop it.

# nulls are just regular days

####  correcting nulls

In [19]:
cat.drop(columns = ['event_name_2','event_type_2'],inplace = True)

In [20]:
var_to_impute_by_value = ['event_name_1','event_type_1']
value = 'No_event'
cat[var_to_impute_by_value] = cat[var_to_impute_by_value].fillna(value)

In [21]:
cat.isna().sum().sort_values(ascending = True)

store_id        0
item_id         0
d               0
year            0
month           0
wday            0
weekday         0
event_name_1    0
event_type_1    0
dtype: int64

#### Atypicals

In [24]:
for variable in cat:
    print(variable + '\n')
    print(cat[variable].value_counts(dropna = False))
    print('\n\n')

store_id

store_id
CA_3    10640
CA_4    10640
Name: count, dtype: int64



item_id

item_id
FOODS_3_090    2128
FOODS_3_120    2128
FOODS_3_202    2128
FOODS_3_252    2128
FOODS_3_288    2128
FOODS_3_329    2128
FOODS_3_555    2128
FOODS_3_586    2128
FOODS_3_587    2128
FOODS_3_714    2128
Name: count, dtype: int64



d

d
d_1767    20
d_704     20
d_705     20
d_706     20
d_707     20
          ..
d_715     20
d_716     20
d_717     20
d_718     20
d_719     20
Name: count, Length: 1064, dtype: int64



year

year
2013    7300
2014    7300
2015    6680
Name: count, dtype: int64



month

month
1     1860
3     1860
7     1860
5     1860
8     1860
10    1860
6     1800
4     1800
11    1800
9     1800
2     1680
12    1240
Name: count, dtype: int64



wday

wday
4    3040
5    3040
6    3040
7    3040
1    3040
2    3040
3    3040
Name: count, dtype: int64



weekday

weekday
Tuesday      3040
Wednesday    3040
Thursday     3040
Friday       3040
Saturday     3040
Sunday       3040
Monday       3040
Name: count, dtype: int64



event_name_1

event_name_1
No_event               19580
NewYear                   60
OrthodoxChristmas         60
MartinLutherKingDay       60
SuperBowl                 60
LentStart                 60
ValentinesDay             60
PresidentsDay             60
LentWeek2                 60
Purim End                 60
StPatricksDay             60
Easter                    60
Pesach End                60
Mother's day              60
MemorialDay               60
Thanksgiving              60
NBAFinalsStart            60
NBAFinalsEnd              60
IndependenceDay           60
Eid al-Fitr               60
Ramadan starts            60
LaborDay                  60
ColumbusDay               60
Halloween                 60
EidAlAdha                 60
VeteransDay               60
OrthodoxEaster            40
Father's day              40
Chanukah End              40
Christmas                 40
Cinco De Mayo             40
Name: count, dtype: int64



event_type_1

event_type_1
No_event     19580
National       580
Religious      560
Cultural       380
Sporting       180
Name: count, dtype: int64

In [25]:
# - There aren't uncommon categories
# - there are some months with less entries, may be months with less than 31 days
# - 2015 have less entries, the validation ones we extracted

In [26]:
df.groupby('year').d.nunique()

year
2013    365
2014    365
2015    334
Name: d, dtype: int64