### Load and import

In [1]:
import numpy as np
import pandas as pd
from janitor import clean_names
%config IPCompleter.greedy=True

In [20]:
df = pd.read_csv('../../02_Data/03_Work/work.csv',parse_dates=['date'],index_col='date')

In [21]:
df.head()

,state_id,store_id,dept_id,cat_id,item_id,wm_yr_wk,d,sales,sell_price,year,month,wday,weekday,event_name_1,event_type_1,event_name_2,event_type_2
date,,,,,,,,,,,,,,,,,
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_090,11249,d_704,0,1.25,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_120,11249,d_704,0,4.98,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_202,11249,d_704,20,4.28,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_252,11249,d_704,34,1.48,2013,1,4,Tuesday,NewYear,National,NaN,NaN
2013-01-01,CA,CA_3,FOODS_3,FOODS,FOODS_3_288,11249,d_704,0,NaN,2013,1,4,Tuesday,NewYear,National,NaN,NaN

### Identify

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 21280 entries, 2013-01-01 to 2015-11-30
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state_id      21280 non-null  object
 1   store_id      21280 non-null  object
 2   dept_id       21280 non-null  object
 3   cat_id        21280 non-null  object
 4   item_id       21280 non-null  object
 5   wm_yr_wk      21280 non-null  int64
 6   d             21280 non-null  object
 7   sales         21280 non-null  int64
 8   sell_price    21209 non-null  float64
 9   year          21280 non-null  int64
 10  month         21280 non-null  int64
 11  wday          21280 non-null  int64
 12  weekday       21280 non-null  object
 13  event_name_1  1700 non-null   object
 14  event_type_1  1700 non-null   object
 15  event_name_2  60 non-null     object
 16  event_type_2  60 non-null     object
dtypes: float64(1), int64(5), object(11)
memory usage: 2.9+ MB

In [23]:
df.dtypes

state_id         object
store_id         object
dept_id          object
cat_id           object
item_id          object
wm_yr_wk          int64
d                object
sales             int64
sell_price      float64
year              int64
month             int64
wday              int64
weekday          object
event_name_1     object
event_type_1     object
event_name_2     object
event_type_2     object
dtype: object

In [24]:
df = df.astype({'year':'object',
               'month': 'O',
               'wday': 'O'})

df.dtypes

state_id         object
store_id         object
dept_id          object
cat_id           object
item_id          object
wm_yr_wk          int64
d                object
sales             int64
sell_price      float64
year             object
month            object
wday             object
weekday          object
event_name_1     object
event_type_1     object
event_name_2     object
event_type_2     object
dtype: object

### Unique values

In [25]:
df.nunique().sort_values()

state_id           1
dept_id            1
cat_id             1
store_id           2
event_type_2       2
event_name_2       3
year               3
event_type_1       4
weekday            7
wday               7
item_id           10
month             12
sell_price        23
event_name_1      30
wm_yr_wk         153
sales            301
d               1064
dtype: int64

In [33]:
df = df.drop_constant_columns()